<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
    <system.webServer>
       <!--For appcache.manifest validation in IE 11-->
      <staticContent>

        <!-- Set expire headers to 30 days for static content-->
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/> 
        
        <remove fileExtension=".cache"/>
        <mimeMap fileExtension=".cache" mimeType="text/cache-manifest" />
        <!-- Removing / adding Mp4 breaks the app. Will not play after 1st video -->
        <remove fileExtension=".mp4" />
        <mimeMap fileExtension=".mp4" mimeType="video/mp4" />    
      </staticContent>
      <handlers>
        <add name="Browser Link for HTML" path="*.html" verb="*"
             type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             resourceType="File" preCondition="integratedMode" />
      </handlers>
      </system.webServer>

  <appSettings>
    <add key="vs:EnableBrowserLink" value="true"/>
  </appSettings>  
</configuration>